body {
    font-family: "Recursive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CASL" 0,
        "CRSV" 0.5,
        "MONO" 0;
    background-color: #181818;
    color: white;
}

a {
    text-decoration: none;
    color: indianred;
}

.header {
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    background-color: #212121;
    line-height: 2;
}
